@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:"Roboto", sans-serif;
}

.header,
.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 200px;
    padding-top: 20px;
}

.logo,
.quote-author{
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

a,
.hero-para,
.hero-image{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.hero{
    display: flex;
    gap: 30px;
    padding-block: 80px;
}

.hero-title{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text,
.hero-image{
    display: flex;
    flex-direction: column;
    flex-basis: 500px;
    height: 250px;
}

.hero-text{
    justify-content: space-between;
}

.hero-button{
    background-color: #3882F6;
    padding: 10px 30px;
    width: fit-content;
    font-weight: 900;
    border-radius: 8px;
}

.hero-image{
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.info-title{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-block: 50px;
}

.info-container{
    display:flex;
    justify-content: center;
    gap: 30px;
}

.info-content{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-basis: 150px;
    padding-bottom: 100px;
    text-align: center;
}

.info-box{
    height: 150px;
    width: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
}

.quote{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 100px 470px;
    background-color: #E5E7EB;
}

.quote-text{
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.quote-author{
    align-self: flex-end;
    color:#1F2937;
}

